body{
    margin: 0;
    font-family: Roboto;
}
.MuiGrid-spacing-xs-3{
    width:100% !important;
}
#blog_grid{
    padding: 5em;
}
.btn-a-link{
    color: white;
    text-decoration: none;
}
a{
    text-decoration: none !important;
}
.single_page_content{
    padding: 5rem 10rem;

}
.loading{
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 86.5vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.wp-block-image figcaption{
    display: none;
}
.wp-block-image{
    margin: 0;
    text-align: center;
}
.logo{
    color: white !important;
}